<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'payment_success.css' %}">
    
</head>
<body>
    
    <div class="card">
      <form action="{% url 'create_payment_view' %}">
        {% csrf_token %}
        <button type="sub" class="dismiss">×</button>
      </form>


        <div class="header">
          <div class="image">
            <img class="image" src="{% static 'gif/gif1.gif' %}" alt="">
          </div>
          <div class="content">
            <span class="title">Payment Successfull</span>
            <p class="message">
              Thank you for your purchase. 
          </div>
          <div class="actions">
            <form action="/payment/payment_success_post/" method="POST">
              {% csrf_token %}
              <input type="hidden" value="{{payment.id}}" name="payment_id" id="payment_id">
              <button class="button">
                E - Receipt
                <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                  <path
                    clip-rule="evenodd"
                    d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </form>

          </div>
        </div>
      </div>
</body>
</html>
